* {
    transition: all .2s ease-out;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.dark-mode-body {
    background-color: rgb(36, 36, 36);
}

.jumbotron {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 20vh;
}

.dark-mode-jumbotron {
    background-color: rgb(36, 36, 36);
}

.jumbotron h1,
.jumbotron h6,
main h6 {
    color: rgb(57, 57, 57);
    padding: 1rem;
}

.dark-mode-jumbotron h1,
.dark-mode-jumbotron h6,
.dark-mode-main h6 {
    color: rgb(208, 208, 208);
}

#switch-container {
    padding: .5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: all .2s ease-out;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .2s;
    -webkit-transition: -webkit-transform .2s;
    transition: all .2s ease-out;
}

.dark-mode-slider:before {
    background-color: rgb(18, 18, 18);
}

input:checked+.slider {
    background-color: rgb(194, 194, 194);
}

input:focus+.slider {
    box-shadow: 0 0 1px #ddd;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#switch-container h6 {
    margin: auto;
    padding: .5rem;
    font-size: small;
}

main {
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
}

.dark-mode-main {
    background-color: rgb(18, 18, 18);
}

.btn,
.btn:focus {
    color: #fff;
    background-color: rgb(117, 65, 207);
    border: solid 1px rgb(117, 65, 207);
    width: 100px;
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
    transition: all .2s ease-out !important;
}

.btn:hover {
    background-color: white;
    color: rgb(117, 65, 207);
    border: solid 1px rgb(117, 65, 207);
}

.dark-mode-btn,
.dark-mode-btn:focus {
    background-color: rgb(70, 70, 70);
    color: #ccc;
    border: solid 1px rgb(70, 70, 70) !important;
    outline: none !important;
    box-shadow: none !important;
}

.dark-mode-btn:hover {
    background-color: #ccc;
    color: rgb(70, 70, 70);
}

#text-area {
    width: 100px;
    height: 50px;
    outline: none;
    border: solid 1px rgb(57, 57, 57);
}

.dark-mode-text-area {
    background-color: #ccc;
}

#answer {
    font-size: calc(4rem + 1.5vw);
}

.dark-mode-answer {
    color: #ccc;
}

.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.dark-mode-modal-content {
    color: #ccc;
    background-color: rgb(36, 36, 36);
    border: none;
}

footer {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10px;
}

.dark-mode-footer {
    background-color: rgb(36, 36, 36);
}

.icon {
    color: rgb(140, 140, 140);
}

footer a {
    text-decoration: none;
    margin: 2rem;
    color: #0d6dfb;
    transition: none !important
}

footer a:hover,
footer a:focus {
    color: #235bc3;
}

.dark-mode-footer a {
    color: #ccc;
}

.dark-mode-footer a:hover {
    color: #fff;
}